// Address for the database that is used in development if you use the databas
// that is running in docker the address is the following:
DEVELOPMENT_DB='postgres://user:password@localhost:5455/dev-db'

// The port that the server is listening to
PORT=2345